@model List<CoinModel>
@{
	ViewData["Title"] = "Index";

}

<h1>Btc değerleri</h1>

@{
	
	if (Model?.Count>0)
	{

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Symbol</th>
				<th>Name</th>
				<th>Rank</th>
				<th>PriceUsd</th>
				<th>PercentChange24h</th>
				<th>PercentChange1h</th>
				<th>PercentChange7d</th>
				<th>CSupply</th>
				<th>TSupply</th>
				<th>MSupply</th>
				<th>
					CreatedDate
				</th>
			</tr>
		</thead>
		<tbody>
																
			@foreach (var coin in Model)
{
				<tr>
					<td>@coin.Symbol</td>
					<td>@coin.Name</td>
					<td>@coin.Rank</td>
					<td>@coin.PriceUsd</td>
					<td>@coin.PercentChange24h</td>
					<td>@coin.PercentChange1h</td>
					<td>@coin.PercentChange7d</td>
					<td>@coin.CSupply</td>
					<td>@coin.MSupply</td>
					<td>@coin.TSupply</td>
					<td>@coin.CreatedDate</td>
																		
				</tr>
}
																
		</tbody>
	</table>

	<p></p>
	<p></p>
	<p></p>

	}
	else
	{
	<div class="text-center">Kayıt yok</div>
	}
}




